/*helpers */
.bglight{
    background-color: #f8f9fa!important;
}
.text-center{
    text-align: center!important;
}
/* Flex */
.d-flex{
   display: flex;
   flex-wrap: nowrap;
}
@media (max-width:768px){
    .d-flex{
        display: block;
    }
}
.d-inline-block{
    display: inline-block;
}
.justify-center{
   justify-content: center;
}
.align-center{
   align-items: center;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;+
}
.bg-black{
    background-color: #111111;
}
.space-top{
    margin-top: 100px;
}
s.pace-top-sm{
    margin-top: 15px;
}
.bg-white{
    background-color: white;
}
nav li:hover {
    background: #CAC4C4;
}
/* seccion about us caja negra  */
.text-white{
    color: white;
}
