
.container{
    width: 80%;
    margin: 0 10%;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.col-1, .col-3, .col-4, .col-6{
    padding: 10px;
}
.col-1{
    width: calc(100%/12);
}
.col-3{
    width:20%;
    padding:1rem;
    margin:2%    
}
@media (max-width:768px){
    .col-3{
        width: 90%;
    }
@media (max-width:768px){
    .col-4{
        width: 90%;
    }
}
.col-4{
    width:33.333%;
}
@media (max-width:768px){
    .col-4{
        width: 90%;
    }
}
.col-6{
    width: 50%;
}
.m-box{
    margin-left:3vh;
    margin-right:3vh;
  }
  .card{
    border:none 1px ;
    border-radius: 5%;
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    display: flex;
    flex-direction: column;
    background-color: white;
  }
.b-solid{
    border:solid 1px rgba(0,0,0,0.125);
}
.contenedor-galeria{
    display: inline;
    flex-wrap: wrap;
}
.button{
    border:solid 1px black;
    padding: 20px 30px;
    background-color: white;
    font-size: medium;
    letter-spacing: 5px;
    
}
.padding{
    padding: 3vh ;
}
.padding-top{
    padding-top: 10rem;
}
.ancla{
    background-color:gray ;
    text-decoration: none;
}
.float-left{
    float: left;
    width:auto;
    height: 100%;
    margin-left: 10%;
}
.float-rigth{
    float: right;
    width:auto;
    height: 100%;
    margin-right: 10%;
}
.margin-center{
    margin-left: 45%;
}
.margin-negative{
    margin-top: -100px;
}
.margin-left{
    margin-left: 5%;
}
.margin-rigth{
    margin-right: 5%;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color:#f8f9fa;
    box-shadow: 0px 40px 40px 0px rgba(27, 24, 25, 0.04);
    position: fixed;
}
li{
    display:inline-block;
    list-style: none;
    padding:5px
}
nav a{
    text-decoration: none;
    color:black;
}