* {
    margin:0;
    padding: 0;
    font-weight: normal;
    font-family: 'Rubik',sans-serif;
}
body{
    background-color: white;
}
#intro{
    background-color:#f8f9fa;
    min-height: 100vh;
}
.intro-title{
    font-size: 60px;
    font-weight: 400;
    color:#282828
}
.intro-subtitle{
    font: size 20px;
}
/*servicios*/
#services{
    margin-top: -100px;

}
.icon-size{
    font-size: 40px 40px;
    color: black;
}
    /* trabajos */
.t-subtitle{
    font-weight: bolder;
    text-align: center;
}
.box-trabajos{
    width:70%;
    margin: 0 auto;
    margin-top: 50px;
}
.t-space{
letter-spacing: 5px;
}
.col-parrafo{
    font:#5d5d5d;
}
h4 h2{
    font-weight: bolder;
}
.interlineado{
    line-height: 40px;
}
.bolder-text{
    font-weight: bolder;
}
.font-date{
    font-size: small;
}
